.DS_Store

# Node / TypeScript
node_modules/
dist/
coverage/
*.tsbuildinfo

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
